@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    background: #FAF4F2;

}
/*------------------------------------------top-section----------------------------------------------*/
.top-section{
    background: #FAF4F2;

}
.section__w-1140{
    width: 1140px;
    margin: 100px auto 125px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__w-1140 div:nth-child(1){
    margin-left:36px;
}
.section__w-1140 div h3{
    width: 475px;
    color: #222;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px; /* 155% */
}
.section__w-1140 div p{
    width: 509px;
    height: 144px;
    color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 7px 0 54px 0;
}
nav{
    width: 240px;
    height: 48px;
    margin-bottom: 25px;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    display: flex;
}
nav li:nth-child(1){
    background-color: #728CF7;
}
nav li:nth-child(2){
    background-color:#E17094;
}
nav li:nth-child(3){
    background-color:#68AAF3;
}
nav li:nth-child(4){
    background-color:#FF9B70;
}
.section__w-1140 div img{
    width: 406px;
    height: 406px;
    margin: 0 26px 63px 0 ;
    filter: drop-shadow(0px 20px 40px rgba(59, 67, 242, 0.10));
}
.but-for-sec{
    display: flex;
    gap:30px;
}
.but-for-sec button:nth-child(1){
    width: 151px;
    height: 55px;
    border-radius: 10px;
    background: #FF2950;
    color: #F9F9F9;
    font-family: "Poppins","sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.but-for-sec button:nth-child(2){
    width: 153px;
    height: 55px;
    border-radius: 10px;
    border: 2px solid #FF9B70;
    font-family: "Poppins","sans-serif";
    color: rgba(34, 34, 34, 0.50);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/*--------------------------------------div-glad-to-help------------------------------------*/
.section__div__w-1140{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.glad-to-help{
    width: 1140px;
    height: 519px;
    border-radius: 35px;
    background: #FF7315;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.glad-to-help img{
    width: 430px;
    height: 329px;
    margin: 93px 32px 97px 32px;
}
.text-to-glad{
    margin-right: 483px;
}
.text-to-glad h3:first-of-type {
    color: #F9F9F9;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px; /* 86.111% */
    margin-top: 63px;
    margin-bottom: 16px;
}
.text-to-glad p:nth-of-type(1) {
    color: #F9F9F9;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
}
.text-to-glad h3:nth-of-type(2) {
        color: #F9F9F9;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 62px; /* 129.167% */
        margin: 19px 0;
}
.text-to-glad p:nth-of-type(2) {
    width: 570px;
    color: #F9F9F9;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 187.5% */
    margin-bottom: 63px;
}
/*-----------------------------------------Why Hire Me?-------------------------------------------*/
.circle{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: rgba(34, 34, 34, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__hire-w-1140{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-to-why{
    color: #222;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
    margin: 125px 0 100px 0;
}
.versatile_cards{
    width: 240px;
    height: 287px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.versatile_cards h4{
    color: #222;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
    margin: 51px 0 12px 0;
}
.versatile_cards p{
    width: 240px;
    color: rgba(34, 34, 34, 0.50);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}
.wrapper_for_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
/*-----------------------------------partfolio---------------------------------*/
.wrapper__partfolio{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper__partfolio h3{
    margin: 125px 0 64px 0;
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%; /* 59.328px */
    text-transform: capitalize;
}
.part_card{
    width: 310px;
    height: 300px;
}
.part_card img{
    width: 310px;
    height: 300px;
    object-fit: cover;
}
.wrapper_for_card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.part_cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 125px;
}
/*---------------------------------------------world-wide-----------------------------------------------*/
.worldwide{
    width: 100vw;
    height: 643px;
    background: #FF7315;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 125px;
}
.worldwide h3{
    width: 609px;
    color: #F9F9F9;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 125% */
    margin: 48px auto 111px auto;
}
.wrapper__worldwide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 84px;
}
.wrapper__worldwide div{
    width: 529px;
    height: 179px;
    border-radius: 30px;
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.wrapper__worldwide div p:first-child {
    width: 419px;
    height: 108px;
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 24px 55px 47px 55px;
}
.wrapper__worldwide div p:last-child {
    width: 419px;
    height: 144px;
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 24px 55px 11px 55px;
}
/*---------------------------------------section-bottom-------------------------------------*/
.bottom-section{
    background: #FAF4F2;
    /*height: 1796px;*/
}
.section__bot_w-1140{
    width: 1140px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-section h2 {
    color:#222;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%; /* 59.328px */
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 64px;
}
.prise_plan_head{
    width: 335px;
    height: 66px;
    border-radius: 15px 15px 0 0;
    background: #FF9B70;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    color:#F9F9F9;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%; /* 29.664px */
    text-transform: capitalize;
}
.prise_plan_card{
    width: 335px;
    height: 434px;
    border-radius: 15px;
    background:#F9F9F9;
    box-shadow: 0 20px 40px 0 rgba(255, 115, 21, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span{
    color:#2B2B2B;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    opacity: 0.5;
    margin-left: 12px;
}
.prise_plan_card p{
    color:#2B2B2B;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%; /* 39.552px */
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 36px;
}
.prise_plan_card ul{
    flex-direction: column;
    display: flex;
    gap: 16px;
    padding-inline-start:10px;
    margin-right: 48px;
    margin-bottom: 24px;
}
.prise_plan_card li{
    color:#222;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    text-transform: capitalize;
}
.prise_plan_card li::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("img/Check.svg");
    background-size: cover;
    margin-right: 16px;
    vertical-align: middle;
}
.silver li:nth-child(n + 3)::before {
    background-image: url("img/Close.svg");
}
.silver li:nth-child(n + 3){
    opacity: 0.5;
}

.gold li:nth-child(n + 5)::before {
    background-image: url("img/Close.svg");
}
.gold li:nth-child(n + 5){
    opacity: 0.5;
}
/*--------------------------------------------div-Interested-working----------------------------------------*/
.section__bot_w-1140{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inter_work{
    width: 1110px;
    height: 224px;
    border-radius: 25px;
    background: #FF7315;
    margin: 100px 0 125px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inter_work h3{
    width: 343px;
    height: 124px;
    color:#F9F9F9;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px; /* 172.222% */
    margin-left: 75px;
}
.inter_work button{
    width: 259px;
    height: 70px;
    border-radius: 10px;
    background:#F9F9F9;
    box-shadow: 0 0.927px 1.924px 0 rgba(0, 0, 0, 0.01);
    margin-right: 100px;
    color:#222;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "Poppins","sans-serif";
}
.inter_work button p{
    font-family: "Poppins","sans-serif";
    width: 100%;
    color:#222;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*---------------------------------------blog-----------------------------------------*/
.section__bot__blog_w-1140{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.h_blog{
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
    margin-bottom: 48px;
}
.blog_cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 125px;
}
.blog_card{
    width: 270px;
    height: 364px;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image_container {
    width: 242px;
    height: 166.146px;
    border-radius:10px;
    overflow: hidden;
    margin: 15px 0 24px 0;
}
.image_container img {
    width: 242px;
    height: 166px;
    object-fit: cover;
    display: block;
}
.blog_card h3{
    color:#222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 19.776px */
    text-transform: capitalize;
    margin-bottom: 12px;
}
.blog_card p{
    width: 240px;
    height: 70px;
    color: rgba(34, 34, 34, 0.50);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 200% */
    text-transform: capitalize;
    margin-bottom: 57px;
}
/*------------------------footer----------------------*/
footer{
    width: 100%;
    height: 170px;
    color:#222;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F1F1;
}
footer p{
    margin: 64px 687px 79px 595px;
}

